/* Merriweather font */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding:0px;
    margin:0px
}
.Merriweather-font{
    font-family: "Merriweather", serif;
}

.Inter-font{
    font-family: "Inter", sans-serif;
}

/* banner related style */
.banner-container{
    max-width:1320px;
    color:white;
    min-height: 620px;
    border-radius:16px;
    border:none;
    margin:47px auto;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.banner-greetings{
    color: #FFF;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.banner-title{
    color: #FFF;

font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 

}


/* discount-0f-65%-container */

.discount-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 71px;
   

}

.discount-container h3{
    color: #F00;
text-align: center;

font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 48px;
}


.discount-container p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.discount-container h4{
    color: #070211;
text-align: center;

font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}

/* midnight-party-section */
.midnight-party-container{
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image:url(../resources/Vectorrr.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin-bottom: 71px;
}


.midnight-party-text-container{
    padding: 126px;
}
.midnight-party-text-container h3{
    
  
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.midnight-party-text-container p{
    
  
    color: rgba(255, 255, 255, 0.80);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.btn{
    
text-align: center;
color:white;
background-color: transparent;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    margin-top:30px
}
.midnight-party-img{
    padding: 68px 132px;
}

/* timing-section */

.timing-contaniner{
    max-width: 1320px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
min-height: 616px;
}
.timing-contaniner{
    max-width: 1320px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
min-height: 616px;
}
.timing-contaniner h4{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.primary-color{
    color: #F00;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.btn-primary{
    color: #FFF;
    background-color: #F00;
text-align: center;
padding: 16px 32px;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border:none;
border-radius: 5px;
margin-top:30px;
margin-bottom: 71px;
}

/* comming-soone-container */

.comming-soone-container{
    max-width: 1320px;
    margin:0px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 71px;
   
}

.conning-sooner-title{
    color: #F00;


font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.coming-soone-des h4{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.conning-sooner-para{
    color: rgba(7, 2, 17, 0.60);

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
max-width: 393px;;
}
.coming-soone-img-holder{
    width: 463px;
    height: 463px;

    border:15px solid #F00;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.coming-soone-img{
    width: 364.844px;
height: 364.844px;

   
   
  
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
  


}



.coming-soon-year h3{
    color:#F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.coming-soon-year-des{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */;
width: 33%;
}


.coming-soon-year{
    width: 33%;
   
}
.coming-soon-year h3{
    color: #F00;

font-size: 48px;

font-weight: 700;
line-height: normal;
}

.coming-soon-year-des{
    color: rgba(7, 2, 17, 0.60);
width: 100%;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: 20;
margin-bottom: 30px;
}


/* holiday */

.holiday-sell-container{
    max-width:1320px;
    height: 935px;
    margin:0px auto;
   
    position:relative;
}
.holiday-title{
    color: #070211;

font-size: 24px;
font-style: normal;
font-weight:800;
line-height: normal;
}



.sale{
    color: #F00;
text-align: center;

font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.holiday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.holiday-text-container h3{
    color: #070211;

font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-bottom:20px;
}
.holiday-text-container p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
max-width:1068px;
margin-bottom: 20px;
}



.holiday-image-container{
    width: 1320px;
height: 229px;
border-radius: 16px 0px 16px 16px;
background: #F00;
position: absolute;
top:73.8%;

}

.gift-container{
    position:relative;
    max-height:700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}
.gift-box{
    z-index: 1;
  
    
}
.girl{
   position:absolute;
  bottom:32.9%;
    left:67.6%
}

.discount{
    position: absolute;
    bottom:40%;
    left:55% ;
}

/* awsome-portfolio-section */
.awsome-portfolio-section{
    max-width:1320px;
    height: 935px;
    margin:0px auto;
    margin-top:71px
   
}
.awsome-portfolio-section h3{
    color: #070211;

font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.awsome-portfolio-section p{
    color: rgba(7, 2, 17, 0.60);
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.img{
    width: 424px;
height: 450px;


}

.img img{
    width: 100%;
    height: 100%;
}
.awsome-portfolio-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px
}

.subscribe-section{
    max-width: 1320px;
    height: 616px;
  margin-bottom: 40px;
    margin:0px auto;
    margin-top:271px;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.subscribe-section h3{ 
    color: #070211;
text-align: center;

font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 20px;}

.subscribe-section p{ 
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
   
text-align: center;
margin-bottom: 20px;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.input-container{
    display: flex;
    flex-direction: row;
}
.username-input{
    max-width:648px;
    height: 72px;
   padding: 10px 220px 10px 30px;
   border-top-left-radius:35px ;
   border-bottom-left-radius:35px ;
   border:none;
   font-size: 18px;
}

.submit{
    border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;
color:white;
border:none;
font-size: 18px;
    border-top-right-radius:35px ;
   border-bottom-right-radius:35px ;
   cursor: pointer;
}

.submit:hover{
    background-color: rgb(91, 132, 229);
    
}

/* footer */

.footer{
    background-color: #070211;
    margin-top:80px
}
.footer-container{
    max-width: 1320px;
   
  
    margin:0px auto;
    margin-top:30px;
    margin-bottom: 30px;
    padding-top:50px;
    display: flex;
    justify-content: space-between;
   
}
.footer-left-con{
    color: #FFF;
font-family: Inter;
max-width: 376px;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.contact{
    display: flex;
    flex-direction: row;
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-icon{
    color:white;
    margin-right: 10px;
}

.social-media-con{
   border-top:1px solid rgba(255, 255, 255, 0.15);
   ;
   border-bottom:1px solid rgba(255, 255, 255, 0.15);
   ;



}

.social-media{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin:20px auto;
   
}
.social{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px auto;
    
}

.facebook{
    background-color: #1877F2;
}

.insta{
    background-color:#F56040;
    color:white
}

.twitter{
    background-color: #1DA1F2
    ;color:white
}

.lindin{
    background-color:#0077B5
    ;color:white;

}

.footer-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1320px;
    margin:20px auto 0;
    padding-bottom:40px;
}

.footer-bottom-container p{
    color:white
}